h1 {
    color: #000;
    FONT-WEIGHT: bolder;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editbtn {
    color: black;
}
#btn-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.btns {
    display: inline-flex;
}

input.delete {
    margin-left: 20%;
    color: black;
}

input.edit {
    margin-left: 10%;
    color: black;
}