<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Edit Post')"></head>
<body>

<nav th:replace="/fragments/navbar :: nav-bar"></nav>
<div class="container">
	<div class="row">
		<h1>Edit Post</h1>

		<form class="form" th:include="/fragments/create-edit :: form-partial"
			  th:method="post"
			  th:action="@{'/posts/' + ${post.id} + '/edit'}"
			  th:object="${post}"/>

	</div>
</div>

<footer th:replace="/fragments/footer :: main-footer"></footer>

</body>
</html>
