<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Individual Post Page')"></head>
<body>
<div>
	<nav th:replace="/fragments/navbar :: nav-bar"></nav>
	<div class="container">
		<h1>Post</h1>
		<div class="post">
			<h2 th:text="${post.title}"></h2>
			<h4 th:text="${post.body}"></h4>
			<h5 th:text="${post.user.email}"></h5>
		</div>
		<div class="btns" id="btn-holder">

			<a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-info">Edit</a>
			<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
				<input class="btn btn-danger" type="submit" value="Delete"/>
			</form>
		</div>
	</div>
</div>

<a th:href="@{/posts/create}" class="btn btn-primary">Create Post</a>
<div>
	<footer th:replace="/fragments/footer :: main-footer"></footer>
</div>
</body>
</html>