<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Register')"></head>

<body>
<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<div class="row">
		<h1>Register Here!!!</h1>

		<form th:action="@{/register}" th:method="post" th:object="${user}">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input id="firstName" name="firstName" th:field="*{firstName}" class="form-control"/>
				<div
						class="alert alert-danger"
						th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}" >
				</div>
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input id="lastName" name="lastName" th:field="*{lastName}" class="form-control"/>
				<div
						class="alert alert-danger"
						th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}" >
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input id="email" name="email" th:field="*{email}" class="form-control"/>
				<div
						class="alert alert-danger"
						th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}" >
				</div>
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input id="username" name="username" th:field="*{username}" class="form-control"/>
				<div
						class="alert alert-danger"
						th:if="${#fields.hasErrors('username')}"
						th:errors="*{username}" >
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
				<div
						class="alert alert-danger"
						th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}" >
				</div>
			</div>

			<input class="btn btn-primary" type="submit" value="Sign me up!!!" />
		</form>
	</div>
</div>
<footer th:replace="/fragments/footer :: main-footer"></footer>

</body>
</html>