@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    background-image: url(../img/confectionary.png);
}

textarea{
    resize: none;
}

h1 {
    color: #000;
    font-weight: bolder;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    text-decoration: underline;
    text-align: center;
}

h2 {
    margin-top: 2%;
    margin-bottom: -0.5%;
}

form {
    margin-left: 3%;
}

label {
    font-size: 2em;
    margin-top: 5px;
}

#editbtn {
    color: #000;
}
#btn-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    color: #000;
}

#show-username {
    margin-top: 1%;
    text-align: center;
    color: #000;

}

#show-email {
    margin-top: 0%;
    text-align: center;
    color: #000;
}

#login-invalid-message {
    color: #ca1111;
}

#logout-message {
    color: #1425f1
}

.show-title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #000;
}

.show-body {
    font-family: 'Merriweather', serif;
    margin-top: 2.5%;
    margin-bottom: 2%;
    text-align: center;
    color: #2e5a44;
}

.show-title>a {
    margin-top: 2%;
    margin-bottom: -0.5%;
    color: #000;
}

.login-logout {
    text-align: center;
    font-size: large;
}

h2>a:hover {
    color: blue;
}

a.createbtn {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    flex-direction: column;
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2.5%;
}

.show-user-info {
    font-style: italic;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

div.btns {
    display: inline-flex;
    margin-top: 5px;
    margin-left: 5px;
}

input.delete {
    margin-left: 20%;
    color: black;
}

input.edit {
    margin-left: 10%;
    color: black;
}

.btn-info {
    width: 140%;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.navbar-default .btn-link {
    color: #dcc4c4;
}

.navbar-default .navbar-nav>li>a {
    color: #dcc4c4;
}
