<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
	  <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->

<!--<head th:replace="/fragments/header :: head('View All Posts')"></head>-->
<!--<body>-->

<!--<nav th:replace="/fragments/navbar :: nav-bar"></nav>-->

<!--<div class="container">-->
	<!--<h1>Posts</h1>-->


	<!--<div class="post" th:each="post : ${posts}">-->
		<!--<h2 th:text="${post.title}"></h2>-->
		<!--<h5 th:text="${post.body}"></h5>-->
		<!--<div class="btns">-->

			<!--<a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-info">Edit</a>-->

			<!--<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">-->
				<!--<input class="btn btn-danger" type="submit" value="Delete"/>-->
			<!--</form>-->
		<!--</div>-->
	<!--</div>-->

<!--</div>-->

<!--<a sec:authorize="isAuthenticated()" th:href="@{/posts/create}" class="btn btn-primary">Create Post</a>-->
<!--<div>-->
	<!--<footer th:replace="/fragments/footer :: main-footer"></footer>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->